<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:samihars@iu.edu" target="_blank">email</a></li>
	        		<li><a href="https://www.linkedin.com/in/salil-harsulkar-92b76671" target="_blank">LinkedIn</a></li>
				<li><a href="https://github.com/hsalil89/Machine_Learning" target="_blank">GitHub Repository</a></li>
				</ul>
			</footer>
		</body>
	</html>
